*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    width: 1440px;
}
body{
    width: 1440px;
}
.container{
    width: 1440px;
}
.button_roll{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 3;
    background-color: #F77E23;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.button_rollpage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
header{
width: 1440px;
height: 662px;
background-image: url(img/background_header.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center 10%;
position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.bar_header{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 15px ;
    margin-bottom: 50px;
}
.Bar{
    display: none;
}
.User_logo{
    display: none;
}
.logo{
    display: flex;
    flex-direction: row;
    color: #F77E23;
    font-family: "Open Sans", sans-serif;
    font-size: 32.8px;
    z-index: 2;
}
.style_u{
position: relative;
}
.style_u::before {
    content: ".";
    position: absolute;
    top: -16.5px;
    left: 0.5px;
    right: 0;
    font-size: 30px;
}
.style_u::after {
    content: ".";
    position: absolute;
    top: -16.5px;
    left: 12px;
    right: 0;
    font-size: 30px;
}
nav ul{
 display: flex;
 flex-direction: row;
 list-style: none;
 gap: 36px;
 margin: 0 200px;
}
ul li{
    padding: 10px 10px;
    z-index: 2;
    transition: all 0.3s ease;
}
li a{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
a:before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: width 0.3s ease; 
}
a:hover::before{
    width: 100%;
}
.login_register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 44px;
}
.search{
    color: white;
    z-index: 2;
}
.login{
    background-color: transparent;
    border: none;
    width: 75px;
    height: 36px;
    z-index: 2;
}
.login_text{
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.register{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 106px;
    height: 44px;
    z-index: 2;
}
.register_text{
    color: #F77E23;
    font-size: 16px;
    font-weight: 600;
}
.main_header{
    position: relative;
    text-align: center;
    z-index: 2;
}
.title_header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins" ,sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    font-weight: 700;
}
.description_header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 400;
}
.getStart{
    width: 162px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color:  #F77E23;
    cursor: pointer;
}
.getStart p{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.getStart:hover{
    background-color: white;
}
.getStart:hover p{
    color: #F77E23;
}
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 30px 60px;
    background-color: white;
    border-radius: 15px;
    width: 969px;
    height: 136px;
    margin: -70px auto auto auto; 
    z-index: 3;
    position: relative;
}

.feature_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.feature_item i {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color: #fff4ec;
    color: #F77E23;
    padding: 5px;
    border-radius: 50%;
}
.background_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #fff4ec;
    color: #F77E23;
    padding: 5px;
    border-radius: 50%;
 }
 

.feature_item h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}
.title_main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins" ,sans-serif;
    font-size: 48px;
    font-weight: 600;
    padding-top: 49px;
    margin-top: 49px;
}
main p{
    display: flex;
    justify-content: flex-end;
    margin-right: 105px;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color:#F77E23;
}
.picture_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.img1{
    background-image: url(img/picture1.png);
    width: 291px;
    height: 432px;
    background-size: cover;
    background-position:80% center;
    background-repeat: no-repeat;
}
.img2{
    background-image: url(img/picture2.jpg);
    width: 291px;
    height: 432px;
    background-size: cover;
    background-position:80% center;
    background-repeat: no-repeat;
}
.img3{
    background-image: url(img/picture3.jpg);
    width: 291px;
    height: 432px;
    background-size: cover;
    background-position:40% center;
    background-repeat: no-repeat;
}
.img4{
    background-image: url(img/picture4.jpg);
    width: 291px;
    height: 432px;
    background-size: cover;
    background-position:48% center;
    background-repeat: no-repeat;
}
.detail_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    position: relative;
    overflow: hidden;
}
.overlay_main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.detail_main h1{
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    z-index: 2;
    transition: all 0.5s ease;
}
.Left_direction{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color:  #F77E23;
    z-index: 4;
}
.Left_direction:hover{
    background-color: rgb(28, 205, 28);
}
.Left_direction i{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 25px;
}
.Right_direction{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 5%;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color:  #F77E23;
    z-index: 4;
}
.Right_direction:hover{
    background-color: rgb(28, 205, 28);
}
.Right_direction i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 25px;
}
.description_picture{
    position: absolute;
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    margin: 0px 0 0 0;
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    font-size: 16px;
    color: white;
    z-index: 2;
    bottom: -180px;
    transition: all 0.5s ease;
}
.detail_main:hover .description_picture, 
.detail_main:hover.detail_main h1{
    transform: translateY(-180px);
}
/* Responsive */
@media (max-width: 428px){
html{
        width: 428px;
}
body{
        width: 428px;
}
.container{
    width: 428px;
}
.bar_header{
    background-color: white;
    width: 428px;
    height: 90px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.button_roll{
    display: none;
}
header{
    width: 428px;
    height: 597px;
    background-position: 25% 71px; 
}
nav ul{
    display: none;
}
.search{
    display: none;
}
.login_register{
    display: none;
}
.logo{
    margin-right: 80px;
    margin-bottom: 2.5px;
    margin-left: 10px;
    font-weight: 600;
}
.Bar{
    display: block;
    font-size: 30px;
    z-index: 2;
}
.User_logo{
    position: relative;
    overflow: hidden;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border:3px solid #F77E23;
    border-radius: 50%;
    z-index: 2;
}
.User_logo i{
    position: absolute;
    bottom: -3px;
    color: #F77E23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px
}
.title_header{
    font-size: 32px
}
.description_header{
    font-size: 18px;
}
.features{
    max-width: 363px;
    max-height:132px;
    margin: 20px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
}
.background_icon{
    width: 40px;
    height: 40px;
} 
.icon2,
.icon3{
    width: 30px;
    height: 30px;
}   
.feature_item h3{
    font-size: 18px;
}
.feature_item i{
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.title_main{
    font-size: 24px;
    margin-top: 24px;
}
main p{
    font-size: 14px;
    margin-right: 50px;
}   
.detail_main{
    width: 110px;
    height: 133px;
    justify-content: center;
    align-items:center ;
}
.picture_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    overflow: hidden;
    gap: 5px;
}
.img1{
min-width: 110px;
margin-left: 20px;
}
.img2{
min-width: 110px;
}
.img3{
min-width: 110px;
}
.picture_main h1{
    font-size: 13px;
    padding: 0;
}
.Left_direction{
    display: none;
}
.Right_direction{
    display: none;
}
.overlay{
    z-index: -1;
}
.description_picture{
    display: none;
}
.detail_main:hover.detail_main h1{
    transform: none;
}
}
